body{
  margin:0;
  overflow:hidden;
  background:#111;
  color:white;
  font-family:Arial;
}

.title{
  position:absolute;
  z-index:2;
  left:20px;
  top:10px;
}

video{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  transform: scaleX(-1); /* mirror camera */
}

canvas{
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}